body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #4d4d4d;
	background-color: #fcfcfc;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
}

a {
	text-decoration: none;
	color: #F7931A;
	border-bottom: 1px solid rgba(0, 0, 0, 0); 
	transition: border-bottom 0.2s ease-in-out;
	-webkit-transition: border-bottom 0.2s ease-in-out;
	-moz-transition: border-bottom 0.2s ease-in-out;
	-o-transition: border-bottom 0.2s ease-in-out;
	-ms-transition: border-bottom 0.2s ease-in-out;
}

a:hover, a:focus {
	border-bottom: 1px solid rgba(247, 147, 26, 1);
}

#top-div {
	margin: 10px 0 0 10px;
}

#btc-logo {
	max-width: 5em;
	display: inline-block;
	vertical-align: middle;
}

#top-home-link {
	text-decoration: none;
	border-bottom: 0px;
}

#top-home-link:hover {
	border-bottom: 0px;
}

#title {
	font-size: 2.5em;
	display: inline-block;
	vertical-align: middle;
}

#title .bitco {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style: italic;
	color: #4D4D4D;
}

#title .infographics {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: italic;
	color: #F7931A;
}

.menu {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	font-size: 1.4em;
}

.menu ul {
	list-style: none;
	padding-left: 0;
}

.menu-item {
	display: inline-block;
	margin-right: 30px
}

.active-item {
	padding-bottom: 7px;
	border-bottom: 5px solid #F7931A;
}

.menu-item a {
	color: #4D4D4D;
	text-decoration: none;
	background-color: none;
	border-bottom: none;
	transition-property: color, background-color;
	transition-duration: 0.3s;
}

.menu-item a:hover {
	background-color: #F7931A;
	padding-bottom: 16px;
	padding-top: 12px;
	color: #fcfcfc;
	border-bottom: none;
	text-decoration: none;
}

.infographic-container {
	width: 20em;
	height: 20em;
	margin: 0 2em;
}

#infographics-list {
	display: inline-block;
	list-style: none;
	vertical-align: top;
	padding: 0;
}

.content {
	text-align: center;
	margin-top: 2em;
}

.infographic-item {
	margin-top: 1em;
}

.infographic-item a {
	color: #4d4d4d;
	text-decoration: none;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-webkit-transition-property:color;
	-moz-transition-property:color;
	-o-transition-property:color;
	-ms-transition-property:color;
}

.overlay {
	width: 320px;
	height: 320px;
	background-color: #F7931A;
	color: #fff;
	font-size: 8em;
	opacity: 0;
	padding-left: 0.1em;
	padding-top: 0.45em;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-webkit-transition-property:opacity;
	-moz-transition-property:opacity;
	-o-transition-property:opacity;
	-ms-transition-property:opacity;
}

.infographic-item a:hover {
	color: #F7931A;
}

.infographic-item a:hover .overlay {
	opacity: 0.7;
}

.infographic-title {
	font-family: 'Source Sans Pro', sans-serif;
	width: 20.5em;
	height: 2.5em;
}

.infographic-medium {
	margin-top: 3em;
	max-width: 85%;
	max-height: 60em;
}

.medium-infographic-title {
	color: #4d4d4d;
	margin-top: 1em;
	margin-bottom: -1em;
}

.previous {
	color: #4D4D4D;
	transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
}

.next {
	color: #4D4D4D;
	transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
}

.arrow-right {
	padding-left: 5px;
}

.arrow-left {
	padding-right: 5px;
}

.button-link:hover .next {
	color: #fcfcfc;
}

.button-link:hover .previous {
	color: #fcfcfc;
}

.previous-btn {
	margin-right: 20em;
}

.next-btn{
	margin-left: 20em;
}

.infographic-bottom {
	margin-top: 5px;
	margin-bottom: 3em;
}

.cc-license {
	margin-top: 30px;
	font-size: 0.8em;
	margin-bottom: 10px;
	color: #4D4D4D;
}

.download {
	font-size: 0.95em;
}

.like-it {
	margin-top: 40px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	font-weight: 700;
}

.button {
	margin-top: 1em;
	background-color: #fcfcfc;
	border: 1px solid #4d4d4d;
	padding: 10px;
	width: 6em;
	transition-property: background-color, border;
	-webkit-transition-property: background-color, border;
	-moz-transition-property: background-color, border;
	-o-transition-property: background-color, border;
	-ms-transition-property: background-color, border;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
}

.button-link {
	color: #4d4d4d;
	transition-property: color 0.3s ease-in-out;
	-webkit-transition-property: color 0.3s ease-in-out;
	-moz-transition-property: color 0.3s ease-in-out;
	-o-transition-property: color 0.3s ease-in-out;
	-ms-transition-property: color 0.3s ease-in-out;
}

.button-link:hover{
	color: #fcfcfc;
}

.button-link:hover .button{
	background-color: #F7931A;
	border: 1px solid #F7931A;
}

.donate-btn {
	margin-bottom: 30px;
}

.donate-area {
	margin-top: 2em;
}

.qr-image {
	border: 5px solid rgba(255, 255, 255, 0);
	transition: border 0.2s ease-in-out;
	-webkit-transition: border 0.2s ease-in-out;
	-moz-transition: border 0.2s ease-in-out;
	-o-transition: border 0.2s ease-in-out;
	-ms-transition: border 0.2s ease-in-out;
}

.donate-link {
	border-bottom: none;
}

.donate-link:hover {
	border-bottom: none;
}

.donate-link:hover > .qr-image {
	border: 5px solid rgba(247, 147, 26, 1);
}

.qr-caption {
	margin-top: 1em;
	margin-bottom: 2.5em;
}

.changetip_tipme_button {
	margin-top: 1em;
	margin-left: -5.2em;
	margin-bottom: 3em;
}

.tip-title {
	font-size: 1.2em;
}

@media (max-width: 360px) {
	.infographic-container {
		margin: 0;
	}
	.infographic-title {
		width: 17em;
	}
}

@media (max-width: 500px) {
	#btc-logo {
		max-width: 4em;
	}
	#title {
		font-size: 2em;
	}
	.content {
		margin: 0 1em 0 1em;
	}
}

#error-404-title {
	font-size: 2em;
}

#doge-talk {
	margin-top: 4em;
	font-style: italic;
}

#doge-image {
	margin-top: 1em;
	max-width: 90%;
}

.profile-pic {
	max-width: 15em;
	max-height: 15em;
	border-radius: 100%;
}

#marco {
	filter: saturate(0);
}

.cc-license-link {
	border-bottom: 0px solid rgba(0, 0, 0, 0);
}

.cc-license-link:hover {
	border-bottom: 0px solid rgba(0, 0, 0, 0);
}