{% extends 'base.html' %}

{% block subtitle %} - About{% endblock subtitle %}

{% block content %}
<h2>About Us</h2>
<br>
<div class="row">
	<div class="large-5 medium-6 small-12 columns">
		<img src="{{ url_for ('static', filename='img/pat.jpg') }}" class="profile-pic">
		<h3>Patrícia Estevão</h3>
		<p>UX Designer</p>
		<p><a href="//patestevao.com">patestevao.com</a></p>
		<p><a href="//twitter.com/patestevao">@patestevao</a></p>
	</div>
	<div class="large-5 medium-6 small-12 columns">		
		<img src="{{ url_for ('static', filename='img/agner.jpg') }}" class="profile-pic" id="marco">
		<h3>Marco Agner</h3>
		<p>Programmer</p>
		<p><a href="//agner.io">agner.io</a></p>
		<p><a href="//twitter.com/marcoagner">@marcoagner</a></p>
	</div>
</div>		
{% endblock content %}
