<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>bitcoinfographics{% block subtitle %}{% endblock subtitle %}</title>
	<!-- meta tags -->
	<meta name="description" content="Bitcoinfographics is a project to explain Bitcoin technology and ecosystem through simple and beautiful infographics, which are free to be shared and used.">
	<!-- /og tags -->
	<meta property="og:type" content="website">
	<meta property="og:image" content="{% block socialimage %}{% endblock socialimage %}">
	<meta property="og:description" content="Bitcoinfographics is a project to explain Bitcoin technology and ecosystem through simple and beautiful infographics, which are free to be shared and used.">
	<!-- /twitter card tags -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="Bitcoinfographics is a project to explain Bitcoin technology and ecosystem through simple and beautiful infographics, which are free to be shared and used.">
	<!-- style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='components/normalize/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png')}}">
</head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65047407-1', 'auto');
  ga('send', 'pageview');
</script>
<body>
	<div id="top-div">
		<a href="{{ url_for('main.index') }}" id="top-home-link">
			<img src="{{ url_for('static', filename='img/btc_logo.png') }}" id="btc-logo" alt="">
			<h1 id="title"><span class="bitco">bitco</span><span class="infographics">infographics</span></h1>
		</a>
	</div>
	{% if request.endpoint == 'main.index' or request.endpoint == 'main.infographic' %}
	<div class="row">
		<span class="i18n-switch"><a href="{{ url_for('main.translate') }}?lang=en">en</a> / <a href="{{ url_for('main.translate') }}?lang=pt">pt</a> / <a href="{{ url_for('main.translate') }}?lang=es">es</a></span>
	</div>	
	{% endif %}
	<div class="row">
		<div class="small-12 small-centered columns">
			<nav class="menu">
				<ul>
					<li class="menu-item{% if request.path == url_for('main.index') %} active-item{% endif %}"><a href="{{ url_for('main.index') }}">Home</a></li>
					<li class="menu-item{% if request.path == url_for('main.about') %} active-item{% endif %}"><a href="{{ url_for('main.about') }}">About Us</a></li>
					<li class="menu-item{% if request.path == url_for('main.donate') %} active-item{% endif %}"><a href="{{ url_for('main.donate') }}">Donate</a></li>
				</ul>
			</nav>
		</div>
		{#
		{% if request.endpoint == 'main.index' or request.endpoint == 'main.infographic' %}
		<div class="lang-switch" style="float: right;">
		<span>Infographic's Language:</span>
			<span><a href="{{ url_for('main.translate') }}?lang=en">en</a></span> |
			<span><a href="{{ url_for('main.translate') }}?lang=es">es</a></span> |
			<span><a href="{{ url_for('main.translate') }}?lang=pt">pt</a></span>
		</div>
		{% endif %}
	#}
	</div>
	<div class="content">
	{% block content %}
	{% endblock content %}
	{% if error != True %}
	{% if request.endpoint != 'main.donate' %}
		<p class="like-it">Like it?</p>
		<div class="bubble"></div>
		<a href="{{ url_for('main.donate') }}" class="button-link"><button class="button donate-btn">Donate</button></a>
	{% endif %}
		<div class="contact">
			<p>Contact us on <a href="mailto:contact@bitcoinfographics.com">contact@bitcoinfographics.com</a></p>
		</div>

		<div class="cc-license">
			<a class="cc-license-link" rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
			<br>
			<br>
			<span>We will never enforce this license in any way;<br>This just means it would be kind to follow <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a> when using these infographics. :)</span>
		</div>
	</div>

	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55a18dd87d415388" async="async"></script>
	{% endif %}
</body>
</html>
