{% extends 'base.html' %}

{% block content %}
<h2>Donate &lt;3</h2>
<figure>
	<a href="bitcoin:1PXzZWSGFgWHP38GrsmmgKiLbm1SMNn9y7">
		<img src="http://chart.apis.google.com/chart?cht=qr&chl=bitcoin:1PXzZWSGFgWHP38GrsmmgKiLbm1SMNn9y7&chs=280x280"
		alt="donation address"/>
		<figcaption>1PXzZWSGFgWHP38GrsmmgKiLbm1SMNn9y7</figcaption>
	</a>
	<div class="changetip_tipme_button" data-bid="83e17098-03b3-486e-8635-eb5fb5969116" data-uid="4e881cd9a8c6414192d220885e7ba48f"></div><script>(function(document,script,id){var js,r=document.getElementsByTagName(script)[0],protocol=/^http:/.test(document.location)?'http':'https';if(!document.getElementById(id)){js=document.createElement(script);js.id=id;js.src=protocol+'://widgets.changetip.com/public/js/widgets.js';r.parentNode.insertBefore(js,r)}}(document,'script','changetip_w_0'));</script>
</figure>
{% endblock content %}