{% extends 'base.html' %}

{% block content %}
<h2>Donate</h2>
<p>Thank you very much for your appreciation. If you like the work, you can give us some love through the Bitcoin address below &lt;3.</p>
<figure class="donate-area">
	<a href="bitcoin:1PXzZWSGFgWHP38GrsmmgKiLbm1SMNn9y7" class="donate-link">
		<img src="http://chart.apis.google.com/chart?cht=qr&chl=bitcoin:1PXzZWSGFgWHP38GrsmmgKiLbm1SMNn9y7&chs=240x240"
		alt="donation address" class="qr-image"/>
	</a>
		<figcaption class="qr-caption"><small>bitcoin:1PXzZWSGFgWHP38GrsmmgKiLbm1SMNn9y7</small></figcaption>
</figure>	
	<h2 class="tip-title">Or you can send us a tip!</h2>
	<div class="changetip_tipme_button" data-bid="83e17098-03b3-486e-8635-eb5fb5969116" data-uid="4e881cd9a8c6414192d220885e7ba48f"></div><script>(function(document,script,id){var js,r=document.getElementsByTagName(script)[0],protocol=/^http:/.test(document.location)?'http':'https';if(!document.getElementById(id)){js=document.createElement(script);js.id=id;js.src=protocol+'://widgets.changetip.com/public/js/widgets.js';r.parentNode.insertBefore(js,r)}}(document,'script','changetip_w_0'));</script>
{% endblock content %}