{% extends 'base.html' %}

{% block socialimage %}{{ url_for('static', filename='img/btc_logo.png') }}{% endblock socialimage %}

{% block content %}
{% for infographic in infographics %}
<ul id="infographics-list">
	<li class="infographic-item">
		<a href="/infographic/{{ infographic.slug }}">
			<div style="background: url('/static/img/infographics/thumbnails/{{ infographic.slug }}_{{ request.args.get('lang') or 'en' }}.png'); background-repeat: no-repeat;" class="infographic-container"><div class="overlay"><span>+</span></div></div>
			<h3 class="infographic-title">{{ infographic.title }}</h3>
		</a>
	</li>
</ul>
{% endfor %}
{% endblock content %}