{% extends 'base.html' %}

{% block content %}
{% with json=infographics_json %}
{% for infographic in json | sort %}
<ul id="infographics-list">
	<li class="infographic-item">
		<a href="/infographic/{{ json[infographic].slug }}">
			<div style="background: url('{{ json[infographic].thumbnail_path }}'); background-repeat: no-repeat;" class="infographic-container"><div class="overlay"><span>+</span></div></div>
			<h3 class="infographic-title">{{ json[infographic].title | lower }}</h3>	
		</a>
	</li>
</ul>
{% endfor %}
{% endwith %}
{% endblock content %}