{% extends 'base.html' %}

{% block subtitle %} - {{ infographic.title }}{% endblock subtitle %}

{% block content %}
<h2 class="medium-infographic-title">{{ infographic.title }}</h2>
<div class="row">
	<div class="small-12 small-centered columns">
		<ul class="navigation">
			<li><p><a href="/{{ lang }}{{ url_for('main.infographic', infographic_slug=first_slug) }}">first</a></p></li>
			<li><p><a href="/{{ lang }}{{ url_for('main.infographic', infographic_slug=prev_slug) }}"><b><  previous</b></a></p></li>
			<li><p>|</p></li>
			<li><p><a href="/{{ lang }}{{ url_for('main.infographic', infographic_slug=next_slug) }}"><b>next  ></b></a></p></li>
			<li><p><a href="/{{ lang }}{{ url_for('main.infographic', infographic_slug=last_slug) }}">last</a></p></li>
		</ul>
	</div>
</div>

<img src="{{ config['INFOGRAPHICS_DIR'] }}medium/{{ infographic.slug }}_{{ lang }}.png" alt="" class="infographic-medium">
<div class="infographic-bottom">
	<span class="download"><a href="{{ infographic.download_url }}" target="_blank">Visualize and Download High-Resolution Infographic</a></span>
</div>
{% endblock content %}
