{% extends 'base.html' %}

{% block subtitle %} - {{ infographic.title }}{% endblock subtitle %}

{% block content %}
<h2 class="medium-infographic-title">{{ infographic.title }}</h2>
<div class="row">
	<div class="small-6 columns">
		<p><a href="/infographic/{{ prev_slug }}" class="button-link previous-btn"><button class="button previous"><i class="fa fa-angle-left arrow-left"></i>previous</button>
		</button></a></p>
	</div>
	<div class="small-6 columns">
		<p><a href="/infographic/{{ next_slug }}" class="button-link next-btn"><button class="button next">next<i class="fa fa-angle-right arrow-right"></i></button>
		</button></a></p>
	</div>
</div>

<img src="/static/img/infographics/medium/{{ infographic.slug }}_{{ lang }}.png" alt="" class="infographic-medium">
<div class="infographic-bottom">
	<span class="download"><a href="{{ infographic.download_url }}" target="_blank">Visualize and Download High-Resolution Infographic</a></span>
</div>
{% endblock content %}