{% extends 'base.html' %}

{% block content %}
<h2 class="medium-infographic-title">{{ infographics_json[infographic].title }}</h2>
<p><a href="/infographic/{{ prev_slug }}">previous</a> | <a href="/infographic/{{ next_slug }}">next</a></p>
<img src="{{ infographics_json[infographic].image_path }}" alt="" class="infographic-medium">
<div class="infographic-bottom">
	<span class="download"><a href="{{ infographics_json[infographic].download_link }}" target="_blank">Visualize and Download High-Resolution Infographic</a></span>
</div>
{% endblock content %}